extends ./layout

block title
  title TestFrontend

block body
  header
    nav(class="navbar navbar-default",role="navigation")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button",class="navbar-toggle")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="myNavText navbar-brand",href="",ng-click="data.goHome()") Test Fronted

        div(class="collapse navbar-collapse",collapse="isCollapsed")
          ul(class="nav navbar-nav")
            li
              a(class="myNavText navbar-brand",href="",ng-click="data.listCustomers()") Employee
  section(class="container view")
    //Home
    section(class="panel view",role="listbox",id="home",ng-if="data.views.home.active")
      div(class="jumbotron")
        h2 Test Fronted
        p ...
        p
          input(class="btn btn-primary",type="button",value="Bienvenidos - ir Clientes",ng-click="data.listCustomers()")
    //ListCustomers
    section(class="panel view",role="listbox",id="listCustomers",ng-if="data.views.listCustomers.active")
      div(class="panel panel-info")
        div(class="panel-heading")
          form(class="navbar-form")
            div(class="form-group")
              label(for="selectLimit",class="control-label inLine") Limite
              select(class="form-control inLine",name="selectLimit",ng-model="selectLimit")
                option(value="") Todos
                option(value="10") 10
                option(value="50") 50
                option(value="100") 100
                option(value="500") 500
            div(class="form-group")
              input(type="text",class="form-control inLine",placeholder="Buscar",name="buscar" ng-model="buscar")
            div(class="form-group")
              label(for="selectIsActive",class="control-label inLine") Status
              select(class="form-control inLine",name="selectIsActive",ng-model="selectIsActive")
                option(value='') Todos
                option(value='true') Activos
                option(value='false') Suspendido
        div(class="panel-body")
          div(class="list-group",ng-repeat="resouce in data.back.resouces  | filter: buscar | filter: selectIsActive | limitTo: selectLimit | orderBy:'name'")
            button(type="button",class="list-group-item",ng-click="data.viewClient(resouce)")
              div(class="row")
                div(class="col-xs-6 col-sm-6 col-md-6 text-center")
                  //div(class="img-circle roundImage",style="height:50px;width:50px;background-image:url({{resouce.picture}});")
                  img(class="imgEmpList img-circle roundImage",src="/images/default.jpg")
                div(class="col-xs-6 col-sm-6 col-md-6")
                  h3
                    strong(class="uppercase") {{resouce.name}}
                    i(class="isActive fa fa-check-circle",aria-hidden="true",ng-show="resouce.isActive")
                    i(class="noActive fa fa-check-circle",aria-hidden="true",ng-show="!resouce.isActive")
                  div
                    h4
                      strong {{resouce.company}}
                  div
                    h4
                      strong(class="capitalize") {{resouce.gender}}
                  div
                    span(class="badge") {{'Friends '+resouce.friends.length}}

        div(class="panel-footer")
          strong Total Employees {{data.back.resouces.length}}
    //Client
    section(class="panel view",role="listbox",ng-show="data.views.client.active")
      div(class="panel panel-info",id="client")
        div(class="panel-heading")
          h1(class="uppercase") {{data.front.client.name}}
          i(class="isActive fa fa-check-circle",aria-hidden="true",ng-show="data.front.client.isActive")
          i(class="noActive fa fa-check-circle",aria-hidden="true",ng-show="!data.front.client.isActive")
      div(class="panel-body")
        div(class="row")
          div(class="col-xs-6 col-sm-4 col-md-4 text-center")
            //div(class="img-circle roundImage",style="height:150px;width:150px;background-image:url({{data.front.empleado.picture}});")
            img(class="imgEmpDet img-circle roundImage",src="/images/default.jpg")
          div(class="col-xs-6 col-sm-4 col-md-4")
            div(class="text-justify")
              p {{data.front.client.about}}
            hr
            div
              strong(class="inLine") Age:
              span(class="inLine") {{data.front.client.age}}
            div
              strong(class="inLine") Eye Color:
              span(class="capitalize inLine") {{data.front.client.eyeColor}}
            div
              strong(class="inLine") Gender:
              span(class="inLine capitalize") {{data.front.client.gender}}
            div
              strong(class="inLine") Email:
              span(class="inLine") {{data.front.client.email}}
            div
              strong(class="inLine") Phone:
              span(class="inLine") {{data.front.client.phone}}
            div
              strong(class="inLine") Favorite Fruit:
              span(class="capitalize inLine") {{data.front.client.favoriteFruit}}
            hr
            div
              strong(class="inLine") Company:
              span(class="inLine") {{data.front.client.company}}
            div
              strong(class="inLine") Balance:
              span(class="inLine") {{data.front.client.balance}}
            hr
          div(class="col-sm-4 col-md-4")
            div(id="map")
        hr
        i(class="fa fa-tags",aria-hidden="true")
        span(ng-repeat="tag in data.front.client.tags | orderBy:'tag'")
          a(type="button",class="btn capitalize") {{tag}}
        hr
        div(class="panel panel-default")
          div(class="panel-heading")
            strong MY FREENDS
          div(class="panel-body",ng-repeat="friend in data.front.client.friends")
            span(ng-bind="friend.name")

