doctype html
html(ng-app="app",ng-cloak,ng-controller="ResouceController")
  head
    base(href="/")
    block title
    meta(name="keywords",content="TestFrontend ")
    meta(http-equiv='cache-control' content='no-cache')
    meta(http-equiv='expires' content='0')
    meta(http-equiv='pragma' content='no-cache')
    meta(name="description",content="TestFrontend")

    meta(name="author",content="Ing. Arquimedes Rodriguez")
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    noscript
      meta(http-equiv="Refresh" id="refresh" content="60")


    // DEPENDENCIAS CSS
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet',href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css',type='text/css',media='all')
    // DEPENDENCIAS CSS

    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

    block styles

  body
    block body

    // DEPENDENCIAS JS CDN
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="https://code.angularjs.org/1.4.5/i18n/angular-locale_es-es.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js')
    script(src="http://maps.google.com/maps/api/js?sensor=true")
    // DEPENDENCIAS JS CDN


    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/app.js")
    script(src="/js/resouce.service.js")
    script(src="/js/resouceController.js")
    // SCRIPTS END


    // SCRIPTS CDN

    // SCRIPTS CDN END


