/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.


html,body{
  height:100%;
  margin:0;
  padding:0;
}

hr{
  color: cadetblue;
  width: auto;
}
p{
  font-family: Tahoma;
}
.navbar, .jumbotron{
  font-family: "High Tower Text";
}
.jumbotron{
  margin: auto 0;
  background: center;

}

.imgEmpList{
  height:120px;
  width:120px
}
.imgEmpDet{
  height:200px;
  width:200px
}

.isActive {
  margin-left: 5px;
  color: #228B22;
}
.noActive {
  margin-left: 5px;
  color: #B22222;
}

.inLine {
  margin-left: 5px;
  //margin-right: 5px;
}
h1.uppercase,
strong.uppercase,
span.uppercase {
  text-transform: uppercase;
}

strong.capitalize,
span.capitalize,
a.capitalize {
  text-transform: capitalize;
}
#map {
  height:400px;
}
